#! /usr/bin/env zsh

{{ template "printers.zsh" }}

_print_running_script "$0"

set -euo pipefail

## Gemfile: {{ include "Gemfile.tmpl" | sha256sum }}

_print_debug "loading homebrew"
if [ -x "{{ .homebrew_prefix }}/bin/brew" ]; then
  eval "$({{ .homebrew_prefix }}/bin/brew shellenv)"
fi

_print_debug "loading asdf"
if [ -f "{{ .homebrew_prefix }}/opt/asdf/libexec/asdf.sh" ]; then
  source {{ .homebrew_prefix }}/opt/asdf/libexec/asdf.sh
fi

# Install default gems
asdf exec bundle -v &> /dev/null
if [ $? -eq 0 ]; then
  _print_installing "default gems for $(asdf exec ruby -v)"
  asdf exec bundle install --gemfile="$HOME/Gemfile"
fi
