source 'https://rubygems.org'

# gem 'json'
gem 'neovim'
gem 'pry'
gem 'rails'
# gem 'rest-client'
gem 'rubocop'
gem 'rspec'
gem 'solargraph'  # for vim lsp plugins

{{- if eq .use_flutter "true" }}
gem 'cocoapods'
{{ end }}
